<div class='container text-align-center'>
  <div class='row'>
    <div class='col-6 mt-3 mb-3'>
      <h3 class='font-weight-bold' style='font-size:30px'>Stay Happy. The World Sucks. Make it Better.</h3>
    </div>
    <form>
      <div class="form-group text-align-center ml-3">
        <h6>Imagine a smol puppy is sad. If it could understand English, what would you tell it to make it feel better? Write that here.</h6>
        <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Type happy thoughts here">
        <small id="emailHelp" class="form-text text-muted">Thanks for making your peers feel ah-mazing.</small>
      </div>
    </form>
    <div class='ml-3'>
      <button class='happy-button font-weight-bold'>Submit</button>
    </div>
  </div>
</div>